{% extends "layout.html" %}
{% block title %}
Friends Home
{% endblock %}

{% block style %}
    <style>
    .thumbnail{
        cursor : pointer;
    }
    .thumbnail>img{
        height : 150px;
    }
    .slideDiv, .slide-image {
        width: 100%;
        height : 300px;
    }

    </style>
{% endblock%}

{% block content %}
    <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for rdmObj in rdmList %}
                    <div class="item slideDiv">
                        <img class="slide-image" src="{{rdmObj.photo.url}}" alt="">
                    </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <br/>

    {% for house in houses %}
    {% if forloop.counter|divisibleby:3 %}
    <div class="row">
    {% endif%}
          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail" onclick="goHouseDetail({{house.id}})">
                <img class="slide-image" src="{{house.photo.url}}" alt="">
                <div class="caption">
                    <h4 class="pull-right">&#8361; {{house.price}}</h4>
                    <h4><a href="#">{{house.title}}</a>
                    </h4>
                    <p>{{house.address}}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">{{house.hits}} hits</p>
                    <p>
                        {% for i in "x"|rjust:5 %}
                        {% if forloop.counter < house.star %}
                        <span class="glyphicon glyphicon-star"></span>
                        {%else%}
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {%endif%}
                        {% endfor %}
                    </p>

                </div>
            </div>
        </div>
    {% if forloop.counter|divisibleby:3 %}
    </div>
    {% endif %}
 {% endfor %}

{% endblock %}
{% block footer %}
<script>
    $(document).ready(function(){
        $('#carousel-example-generic > div > div:nth-child(1)').addClass('active');


    });
    function goHouseDetail(id) {
        location.href = "house/detail/"+id;
    }
</script>
{% endblock%}
