{% extends "layout.html" %}
{% block title %}
Friends Home
{% endblock %}
{% block content %}

{% for house1 in house %}
    <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
            <h4 class="pull-right">&#8361; {{house1.price}}</h4>
            <h4><a href="#">{{house1.title}}</a>
            </h4>
            <p>{{house1.address}}</p>
            <p>{{house1.content}}</p>
        </div>
        <div class="ratings">
            <p class="pull-right">{{house1.hits}} hits</p>
            <p>

                <span class="glyphicon glyphicon-star"></span> x {{house1.star}}

            </p>
        </div>
    </div>
{% endfor %}

    <!-- /.container -->
{% endblock %}
